/**************************
  Basic Modal Styles
**************************/

.micro-modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1021;
  }

  &__container {
    background-color: #fff;
    padding: 30px;
    max-width: 800px;
    height: 100%;
    width: 80%;
    border-radius: 6px;
    overflow-y: auto;
    box-sizing: border-box;

    @include media-query($widescreen) {
      width: 50%;
    }
  }

  &__header {
    // position: relative;
    display: block;
    // height: 30px;
    margin-bottom: 20px;
  }

  &__content {
    a {
      text-decoration: underline;
    }
  }

  &__title {
    // position: absolute;
    // top: 20px;
    // left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.25;
    box-sizing: border-box;
  }

  &__footer {
    text-align: right;
  }

  &__grid {
    margin: 20px 0;

    > div {
      padding: 20px;
    }
  }

  &__icon object {
    height: 70px;
  }

  &__close {
    position: absolute;
    top: -12px;
    right: 0;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    color: $color-brand;
    font-size: 1.5em;
    @include media-query($medium-down) {
      top: 10px;
      right: 15px;
    }
  }
}

@supports (display: flex) {
  .micro-modal__container {
    height: initial;
    max-height: 80vh;
  }

  .micro-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: initial;
    margin-bottom: 0px;
    position: relative;
    flex-wrap: wrap;
    .icon.icon-warning {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      fill: #fdd52b;
    }
  }

  // .micro-modal__title {
  //   position: static;
  // }

  // .micro-modal__close {
  //   position: static;
  // }
}

.micro-modal__header .micro-modal__close:before {
  content: "\2715";
}

.micro-modal__content {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  table {
    margin: 0 -14px;
    td,
    th {
      border-color: transparent;
    }
  }
  ul {
    li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
}

@supports (display: flex) {
  .micro-modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

@include media-query($medium-down) {
  .micro-modal .button {
    white-space: normal;
  }
}

/**************************
  Demo Animation Style
**************************/

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
  opacity: 1;
  z-index: 9999;
}

.micromodal-slide[aria-hidden="false"] .micro-modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .micro-modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .micro-modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .micro-modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .micro-modal__container,
.micromodal-slide .micro-modal__overlay {
  will-change: transform;
}

/**************************
  Custom styles for individual modals
**************************/
.pdp-upsell {
  .upsell-grid-pdp {
    text-align: left;
    justify-content: center;
    text-align: center;
    li {
      list-style: none;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 20px;
      margin-bottom: 20px;
      padding: 20px;
      @include media-query($medium-down) {
        flex-direction: column;
        padding: 5px;
      }
    }
  }
  .product-form__item {
    margin: 5px 0;
  }
  .pdp-upsell__product-title {
    border-bottom: 1px solid $color-brand-off-white;
    text-align: left;
    margin-bottom: 15px;
    padding-bottom: 7px;
    a {
      color: inherit;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 5px;
    }
  }
  .pdp-upsell__product-image {
    overflow: hidden;
    border-radius: 5px;
    display: block;
    position: relative;
    width: 100%;
    flex-basis: 40%;
    margin: 0 auto;
    max-width: 350px;
    @include media-query($medium-down) {
      margin-bottom: 10px;
    }
    img {
      object-fit: cover;
      min-width: 100%;
      display: block;
      position: relative;
    }
  }
  .pdp-upsell__product-message {
    order: 1;
    width: 100%;
    flex-basis: 100%;
    text-align: left;
    .info-message {
      background-color: $color-brand-opacity;
      border-radius: 3px;
      padding: 12px 14px;
      margin-top: 20px;
      display: grid;
      grid-template-columns: 22px auto;
      font-size: 0.75rem;

      svg {
        margin-top: 2px;
        path {
          fill: $color-brand;
        }
      }
      button.text-link {
        font-size: inherit;
      }

      &__variant-specific {
        display: none;
      }
    }
  }
  &.product-template__container {
    .pdp-upsell__form {
      margin: 0 20px;
      flex-basis: 45%;
      @include media-query($medium-down) {
        width: 90%;
        margin: 0 10px;
      }
      .product-form__controls-group {
        .product-form__custom-select {
          button {
            padding: 10px;
            font-size: 14px;
            svg {
              height: 30px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    &:not(.cart-upsell) {
      .product-form__locations-wrapper {
        flex-direction: column;
        .product-form__item {
          margin: 5px 0;
        }
      }
    }
    &.cart-upsell {
      .pdp-upsell__form {
        margin: 0;
        .product__price {
          font-weight: 500;
        }
      }
      .product-form__item.selector-wrapper {
        margin: 0;
      }
      .product-form__custom-select {
        margin-bottom: 8px;
      }
      .product-form__locations-wrapper {
        margin-bottom: 8px;
      }
    }
  }
}

#pdp-upsell {
  .micro-modal__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    padding: 0;
    header {
      padding: 20px;
      button.micro-modal__close {
        position: relative;
        top: 0;
        line-height: normal;
      }
    }
    footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      column-gap: 20px;
      padding: 10px 20px;
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
      .pdp-upsell__total {
        font-size: 1.5rem;
        font-weight: $font-body-semibold-weight;
      }
      button {
        display: block;
        width: auto;
        margin: auto;
      }
    }
    main {
      overflow: auto;
      padding: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.upsell-modal-cart {
  .pdp-upsell__details-link {
    text-align: right;
    margin-top: 20px;
    @include media-query($medium-down) {
      padding: 0 10px;
      text-align: center;
    }
  }
  .cart-upsell {
    .pdp-upsell__product-title {
      h1 {
        margin-bottom: 10px;
      }
    }
    .pdp-upsell__form {
      @include media-query($medium-down) {
        width: 100%;
      }
    }
  }
}
